.game-cell {
    font-size: 2rem;
    cursor: pointer;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8d8989;
}

.highlight {
    background-color: lightgreen;
    /* สีทองสำหรับไฮไลท์ช่องที่ชนะ */
}
.highlight-player {
    background-color: lightgreen; /* สีสำหรับผู้เล่น */
}

.highlight-bot {
    background-color: lightcoral; /* สีสำหรับบอท */
}
